/*home css start*/
* {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

BODY {
	BACKGROUND-COLOR: #f4f8fb;
	MARGIN: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

#ahr_container {
	BORDER-BOTTOM: #000 0px solid;
	BORDER-LEFT: #000 0px solid;
	MARGIN: auto;
	MIN-HEIGHT: 400px;
	WIDTH: 900px;
	BACKGROUND: #f4f8fb;
	BORDER-TOP: medium none;
	BORDER-RIGHT: #000 0px solid
}

#ahr_header {
	POSITION: relative;
	MARGIN: auto;
	WIDTH: 880px;
	HEIGHT: 115px
}

#ahr_header_logo {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 350px;
	BACKGROUND: url(../../images/store/small/monfauteuilroulant_logo3.jpg) no-repeat;
	HEIGHT: 87px;
	BORDER-TOP: medium none;
	TOP: 20px;
	BORDER-RIGHT: medium none;
	LEFT: 20px
}

#ahr_header_btn {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 3px;
	WIDTH: 84px;
	PADDING-RIGHT: 0px;
	BACKGROUND: url(../../images/store/small/mon_complete.png) no-repeat;
	HEIGHT: 23px;
	FONT-SIZE: 11px;
	BORDER-TOP: medium none;
	TOP: 50px;
	RIGHT: 20px;
	BORDER-RIGHT: medium none;
	PADDING-TOP: 3px
}

#ahr_header_btn A {
	COLOR: #fff;
	TEXT-DECORATION: none;
	margin-left: 6px;
	margin-top: 3px;
}

#ahr_header_contact {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	MARGIN: 40px 0px 0px 20px;
	WIDTH: 350px;
	BORDER-TOP: medium none;
	TOP: 0px;
	RIGHT: 120px;
	BORDER-RIGHT: medium none;
	TEXT-ALIGN: right
}

#ahr_header_contact B {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 22px;
	FONT-WEIGHT: bold
}

#ahr_header_contact SPAN {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px
}

#ahr_top_menu {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	MARGIN: auto;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/topmenu_bg.gif) no-repeat left
		top;
	HEIGHT: 33px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

#ahr_top_menu UL {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	MARGIN: 0px 0px 0px 12px;
	HEIGHT: 33px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

#ahr_top_menu UL LI {
	LIST-STYLE-TYPE: none;
	FLOAT: left;
	LIST-STYLE-IMAGE: none
}

#ahr_top_menu UL LI IMG {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	WIDTH: 10px;
	HEIGHT: 30px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

#ahr_top_menu UL LI A {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 35px;
	PADDING-LEFT: 13px;
	PADDING-RIGHT: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	HEIGHT: 33px;
	COLOR: #fff;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px
}

#ahr_top_menu UL LI A:hover {
	TEXT-DECORATION: underline
}

.soldes {
	WIDTH: 75px;
	BACKGROUND: url(../../images/store/small/soldes.gif) no-repeat left top;
	HEIGHT: 33px
}

.infants {
	WIDTH: 75px;
	BACKGROUND: url(../../images/store/small/infants.gif) no-repeat left top;
	HEIGHT: 33px
}

.ahr_top_menu_seperator2 {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	MIN-HEIGHT: 33px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	PADDING-TOP: 0px
}

.ahr_top_menu_seperator3 {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	MIN-HEIGHT: 33px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	PADDING-TOP: 0px
}

#ahr_top_menu_bottom {
	POSITION: relative;
	MARGIN: auto;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/top_menu_bottom_bg.gif)
		no-repeat left top;
	HEIGHT: 38px
}

#ahr_top_menu_bottom_left {
	POSITION: absolute;
	WIDTH: 192px;
	BACKGROUND: url(../../images/store/small/search_field.png) no-repeat
		left top;
	HEIGHT: 24px;
	TOP: 6px;
	LEFT: 10px
}

.ahr_top_enter {
	BORDER-BOTTOM: medium none;
	BORDER-LEFT: medium none;
	FLOAT: right;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	PADDING-TOP: 2px
}

.ahr_top_enter_txt {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 157px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	HEIGHT: 17px;
	COLOR: #59acdf;
	BORDER-TOP: medium none;
	TOP: 2px;
	BORDER-RIGHT: medium none;
	LEFT: 5px
}

#ahr_top_menu_bottom_right {
	POSITION: absolute;
	WIDTH: 104px;
	BACKGROUND: url(../../images/store/small/chariot.png) no-repeat right
		top;
	HEIGHT: 20px;
	COLOR: #000;
	FONT-SIZE: 14px;
	TOP: 8px;
	RIGHT: 20px;
	FONT-WEIGHT: bold
}

#ahr_top_menu_bottom_middle a,a:visited{
	POSITION: absolute; 
	WIDTH: 330px; 
	HEIGHT: 20px; 
	COLOR: #1195D3; 
	FONT-SIZE: 12px; 
	TOP: 10px; 
	LEFT: 250px;
	text-decoration:none;
}

#ahr_top_menu_bottom_middle a:hover{
	POSITION: absolute; 
	WIDTH: 330px; 
	HEIGHT: 20px; 
	COLOR: #20409A; 
	FONT-SIZE: 12px; 
	TOP: 10px; 
	LEFT: 250px;
	text-decoration:underline;
}

#ahr_content {
	BORDER-BOTTOM: #4fa3da 0px solid;
	BORDER-LEFT: #4fa3da 0px solid;
	MARGIN: auto;
	WIDTH: 880px;
	BORDER-TOP: #4fa3da 0px solid;
	BORDER-RIGHT: #4fa3da 0px solid;
	-moz-border-radius: 5px
}

#ahr_content_top {
	MARGIN: 0px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content_top.png) no-repeat;
	HEIGHT: 7px
}

#ahr_content_wrap {
	MARGIN: auto;
	MIN-HEIGHT: 300px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
	HEIGHT: 575px
}

#ahr_content_slider_left {
	MARGIN: 2px 0px 0px 30px;
	WIDTH: 540px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold
}

#ahr_content_slider_right {
	MARGIN: 10px 10px 0px 0px;
	WIDTH: 49px;
	BACKGROUND: url(../../images/store/small/driver.gif) no-repeat;
	FLOAT: right;
	HEIGHT: 22px;
	PADDING-TOP: 2px
}

#ahr_content_slider_right A {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 10px;
	PADDING-RIGHT: 0px;
	COLOR: #348ccf;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px
}

#ahr_content_slider_main {
	MARGIN-LEFT: 8px
}

.ahr_content_slider_main_child {
	POSITION: relative;
	MARGIN: 8px;
	WIDTH: 200px;
	FLOAT: left;
	HEIGHT: 180px
}

.ahr_content_slider_main_pimg {
	MARGIN: auto;
	WIDTH: 150px
}

.ahr_content_slider_main_pimg img {
	MARGIN: auto;
	WIDTH: 110px;
	border: none;
	height: 123px;
}

.ahr_content_slider_main_pimg_name {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 4px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}

.ahr_content_slider_main_pimg_name a {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 4px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	text-decoration: none;
	color: #000000;
}

.ahr_content_slider_main_pimg_name a:hover {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 4px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	text-decoration: none;
	color: #fc8b31;
}

.ahr_content_slider_main_pimg_nav {
	POSITION: absolute;
	BOTTOM: 0px;
	background: url(../../images/store/small/slider_bottom_bg1.gif) no-repeat;
	width: 186px;
	height: 7px;
}
.ahr_content_slider_main_pimg_nav#sel {
	POSITION: absolute;
	BOTTOM: 0px;
	background: url(../../images/store/small/slider_bottom_bg2.gif) no-repeat;
	width: 186px;
	height: 7px;
}

.ahr_content_slider_main_child_selected {
	POSITION: relative;
	MARGIN: 8px;
	WIDTH: 200px;
	FLOAT: left;
	HEIGHT: 180px
}

.ahr_content_slider_main_pimg_selected {
	MARGIN: auto;
	WIDTH: 130px
}

.ahr_content_slider_main_pimg_selected img {
	MARGIN: auto;
	WIDTH: 130px;
	border: none;
}

.ahr_content_slider_main_pimg_name_selected {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 8px;
	COLOR: #fc8b31;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
}

.ahr_content_slider_main_pimg_name_selected a {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 8px;
	COLOR: #fc8b31;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	text-decoration: none;
}

.ahr_content_slider_main_pimg_name_selected a#sel {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 8px;
	COLOR: #fc8b31;
	FONT-SIZE: 14px;
	text-decoration: none;
}

.ahr_content_slider_main_pimg_nav_selected {
	POSITION: absolute;
	BOTTOM: 0px;
}

#ahr_product_main {
	MARGIN: 15px;
	WIDTH: 880px
}

.ahr_product {
	POSITION: relative;
	MARGIN: 8px;
	WIDTH: 200px;
	FLOAT: left;
	HEIGHT: 110px;
	OVERFLOW: hidden
}

.ahr_bottom_rak {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 180px;
	BOTTOM: 0px;
	BACKGROUND: #e3e3e3;
	HEIGHT: 1px;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none
}

.ahr_right_rak {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 1px;
	BACKGROUND: #e3e3e3;
	HEIGHT: 80px;
	BORDER-TOP: medium none;
	RIGHT: 0px;
	BORDER-RIGHT: medium none
}

.ahr_product_img {
	WIDTH: 80px;
	FLOAT: left
}

.ahr_product_img img{
	border:0 none;
}


.ahr_product_des {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 118px; FLOAT: left; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}

.ahr_product_des a:link, a:visited{
text-decoration:none;
color:#000000
}

.ahr_product_des SPAN {
	COLOR:#666666; FONT-SIZE: 12px
}

.ahr_product_des SPAN a:link, a:visited{
	COLOR:#666666; FONT-SIZE: 12px
}

/*footer Start*/
#ahr_footer {
	MARGIN: -40px 0px 0px 0px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/footer.png) no-repeat;
	COLOR: #7599ae;
}

.ahr_footer_left_part {
	MARGIN-TOP: 12px;
	WIDTH: 140px;
	FLOAT: left;
	MARGIN-LEFT: 18px;
}

.ahr_footer_left_part a {
	WIDTH: 140px;
	clear: both;
}

.ahr_footer_right_part {
	MARGIN: 8px;
	WIDTH: 200px;
	FLOAT: right;
	COLOR: #4f7ba5;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold
}

.ahr_footer_search {
	POSITION: relative;
	MARGIN: 8px 33px 8px 8px;
	WIDTH: 166px;
	BACKGROUND: url(../../images/store/small/footer_search.png) no-repeat
		left top;
	FLOAT: right;
	HEIGHT: 19px
}

.ahr_enter_txt {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 112px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	HEIGHT: 19px;
	COLOR: #59acdf;
	BORDER-TOP: medium none;
	TOP: 2px;
	BORDER-RIGHT: medium none;
	LEFT: 2px
}

.ahr_enter_bth {
	Z-INDEX: 3;
	FLOAT: right;
	MARGIN-RIGHT: 0px;
	PADDING-TOP: 1px
}

.ahr_footer_search SPAN {
	Z-INDEX: 5;
	POSITION: absolute;
	COLOR: #fff;
	FONT-SIZE: 10px;
	margin-top: 2px;
	CURSOR: pointer;
	RIGHT: 8px
}

#ahr_footer A {
	DISPLAY: block;
	COLOR: #7599ae;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

#ahr_footer A:hover {
	TEXT-DECORATION: underline
}

.ahr_cwrite {
	TEXT-ALIGN: left;
	MARGIN: auto;
	WIDTH: 880px;
	COLOR: gray;
	FONT-SIZE: 12px
}

.ahr_footer_bottom_txt {
	TEXT-ALIGN: center;
	MARGIN: auto;
	WIDTH: 800px;
	COLOR: #909090;
	FONT-SIZE: 12px
}
/*footer end*/

/*Product Details css start*/
#ahr_product_detail_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 1080px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_product_detail_content_slider_left {
	MARGIN: 2px 0px 0px 34px;
	WIDTH: 540px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	clear: both;
}

#ahr_product_details_top {
	width: 815px;
	height: 280px;
	margin: auto;
	background: url(../../images/store/small/product_bg.jpg) no-repeat;
}

.best_buy_ribbon {
	float: left;
	BACKGROUND: url(images/best_buy_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.on_sale_ribbon {
	BACKGROUND: url(../../images/store/small/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}

.products_details_top_gallery {
	float: left;
	width: 80px;
	height: 180px;
	margin-top: 90px;
	padding-left: 15px;
	margin-left: -50px;
}

.products_details_feature_pic {
	width: 225px;
	height: 250px;
	float: left;
	padding: 10px;
}

.products_details_desc {
	width: 290px;
	height: 250px;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.products_details_desc ul {
	padding-top: 15px;
	padding-left: 15px;
	color: #7E7E7E;
}

.products_details_desc li {
	
}

.products_details_name {
	font: 16px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 10px;
	font-weight: bold;
}

.products_details_name span {
	font: 11px Arial, Helvetica, sans-serif;
	color: #7e7e7e;
}

.products_details_rating {
	margin-top: 100px;
}

.product_details_pricing {
	width: 170px;
	height: 250px;
	float: left;
}

.product_details_pricing_heading {
	font: 16px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	font-weight: bold;
}

.product_details_pricing_heading span {
	font: 12px Arial, Helvetica, sans-serif;
	color: #D1D1D1;
}

.product_details_right_btn_up_txt2 {
	font-size: 11px;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #245B84;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	float: left;
}

.product_details_right_btn2 {
	width: 136px;
	height: 32px;
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	margin-top: 38px;
	margin-left: 23px;
	cursor: pointer;
	background: url(../../images/store/small/product_details_btn.png) no-repeat;
	float: left;
	text-align: center;
}

#ahr_product_details_bottom {
	width: 815px;
	height: auto;
	margin: auto;
	margin-top: 40px;
}

.ahr_product_details_bottom_left {
	float: left;
	width: 420px;
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ahr_product_details_bottom_left p {
	margin-left: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	padding-top: 5px;
}

.ahr_product_details_bottom_left span {
	margin-left: 10px;
	margin-bottom: 10px;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.ahr_product_details_bottom_left ul {
	margin-left: 20px;
	padding-top: 10px;
}

table {
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.d0 td {
	background-color: #fff;
	color: black;
	padding: 2px;
}

tr.d1 td {
	background-color: #e7e7e7;
	color: black;
	padding: 2px;
}

.ahr_product_details_bottom_right {
	float: right;
	width: 350px;
}

.ahr_product_details_bottom_right p {
	margin-left: 10px;
	margin-bottom: 10px;
}

.ahr_product_details_bottom_right span {
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 10px;
}
/*Product Details css end*/

/*Category css start*/
#ahr_cat_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 720px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_cat_content_slider_left {
	MARGIN: 2px 0px 0px 34px;
	WIDTH: 540px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	clear: both;
}

#ahr_cat_content_slider_main {
	width: 855px;
	margin: auto;
	padding: 0px;
}

.ahr_cat_prod_box_area {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-bottom: 18px;
	width: 153px;
	height: 163px;
	background: url(../../images/store/small/cat_prod_unselected.png) center
		center no-repeat;
}

.ahr_cat_prod_box_area a:hover {
	position: relative;
	float: left;
	margin-bottom: 18px;
	width: 153px;
	height: 163px;
	background: url(../../images/store/small/cat_prod_selected.png) center
		center no-repeat;
}

.ahr_cat_prod_box_image {
	margin: auto;
	width: 112px;
	height:120px;
	margin-top: 2px;
	overflow:hidden;
}

.ahr_cat_prod_box_image_name {
	position: absolute;
	height: 30px;
	bottom: 1px;
	left: 7px;
	width: 137px;
	margin: auto;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color:#000000;
}

.ahr_cat_content_right_slider {
	float: left;
	width: 312px;
	height: 163px;
	margin-left: 20px;
	padding: 0px;
	background: url(../../images/store/small/cat_prod_slider.png) center
		center no-repeat;
}

.ahr_cat_content_right_slider_header {
	float: left;
	margin-left: 0px;
	width: 312px;
	height: 25px;
	text-align: center;
	color: #929292;
	font-weight: bold;
	font-size: 16px;
}

.ahr_cat_content_right_slider_left_director {
	float: left;
	margin-left: 6px;
	padding: 0px;
	width: 10px;
	height: 112px;
	background: url(../../images/store/small/cat_slide_left_director.png)
		center center no-repeat;
}

.ahr_cat_content_right_slider_right_director {
	float: right;
	margin-right: 6px;
	padding: 0px;
	width: 10px;
	height: 112px;
	background: url(../../images/store/small/cat_slide_right_director.png)
		center center no-repeat;
}

.ahr_cat_content_right_slider_cont {
	float: left;
	margin: 0px;
	margin-top: 8px;
	padding: 0px;
	width: 275px;
	height: 126px;
}

.ahr_cat_content_right_slider_cont_box_area {
	position: relative;
	float: left;
	margin: 0px;
	margin-left: 26px;
	padding: 0px;
	width: 100px;
	height: 126px;
}

.ahr_cat_content_right_slider_cont_box_img {
	margin: auto;
	padding: 0px;
	width: 250px;
	height: 80px;
}

.ahr_cat_content_right_slider_cont_box_name {
	position: absolute;
	bottom: 0px;
	width: 100px;
	height: 40px;
	color: #929292;
	font-size: 14px;
	text-align: center;
}
.ahr_cat_content_right_slider_cont_box{
	width:200px;
	margin-left:20px;
}
#ahr_cat_product_main {
	MARGIN: 15px;
	WIDTH: 872px;
	margin: auto;
}

#ahr_cat_product_bottom {
	WIDTH: 815px;
	margin: auto;
	height: 170px;
	background: url(../../images/store/small/cat_top_ventes.png) center
		center no-repeat;
}

.ahr_cat_product_bottom_box {
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 6px;
	padding: 0px;
	width: 194px;
	height: 158px;
}

.ahr_cat_product_bottom_box_img {
	width: 110px;
	height: 105px;
	margin: auto;
}

.ahr_cat_product_bottom_box_price {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	bottom: 24px;
	width: 198px;
	height: 25px;
	color: #165C99;
}

.ahr_cat_product_bottom_box_name {
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	width: 198px;
	height: 25px;
	vertical-align: middle;
	color: #165C99;
}

#ahr_cat_footer {
	MARGIN: 50px 0px 0px 0px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/footer.png) no-repeat;
	COLOR: #7599ae;
}

#ahr_cat_footer A {
	DISPLAY: block;
	COLOR: #7599ae;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

#ahr_cat_footer A:hover {
	TEXT-DECORATION: underline
}
/*
Category css end*/

/*Cart css start*/
#ahr_cart_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 500px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_cart_content_slider_left {
	MARGIN: 2px 0px 0px 34px;
	WIDTH: 550px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	clear: both;
}

#ahr_cart_content_slider_right {
	padding-top: 2px;
	adding-left: -3px;
	float: right;
	margin: 10px 30px 0px 0px;
	width: 100px;
	height: 27px;
	background: url(../../images/store/small/validation_btn.png) no-repeat;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

#ahr_cart_content_slider_right_txt {
	padding-top: 2px;
}

#ahr_cart_content_slider_main {
	width: 855px;
	margin: auto;
	padding: 0px;
}

.ahr_cart_prod_box_area {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-bottom: 18px;
	width: 153px;
	height: 163px;
	background: url(../../images/store/small/cat_prod_unselected.png) center center no-repeat;
}

#ahr_cart_details {
	width: 815px;
	margin: auto;
	background: #F4F8FB;
}

#ahr_cart_details_top {
	BACKGROUND: url(../../images/store/small/cart_bg_top.png) no-repeat;
	width: 815px;
	height: 12px;
}

#ahr_cart_details_bottom {
	BACKGROUND: url(../../images/store/small/cart_bg_bottom.png) no-repeat;
	width: 815px;
	height: 25px;
	font: 12px Arial, Helvetica, sans-serif;
}

#ahr_cart_details_bottom p {
	float: right;
	margin-right: 75px;
}

#ahr_cart_details_bottom span {
	font-weight: bold;
	padding-left: 28px;
}

#ahr_cart_box_headline {
	width: 785px;
	height: 20px;
	padding-bottom: 10px;
	margin-left: 20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #818181;
}

#ahr_cart_box_title {
	float: left;
	width: 550px;
	height: 20px;
	margin-top: 10px;
	font-weight: bold;
}

#ahr_cart_box_quantity {
	float: left;
	width: 40px;
	height: 20px;
	margin-left: 40px;
	margin-top: 10px;
}

#ahr_cart_box_price {
	float: left;
	width: 40px;
	height: 20px;
	margin-left: 50px;
	margin-top: 10px;
}

#ahr_cart_box {
	BACKGROUND: url(../../images/store/small/cart_box_bg.png) no-repeat;
	width: 785px;
	height: 100px;
	margin: auto;
	font: 12px Arial, Helvetica, sans-serif;
}

#ahr_cart_box_img {
	float: left;
	height: 100px;
	width: 100px;
	text-align: center;
	margin-top: 10px;
}

#ahr_cart_box_img img {
	height: 70px;
	width: 70px;
}

#ahr_cart_box_desc {
	float: left;
	width: 250px;
	font: 11px Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

#ahr_cart_box_btn {
	float: left;
	width: 210px;
	height: 15px;
	margin-left: 15px;
	margin-top: 15px;
	display: inline;
}

#ahr_cart_box_btn_each {
	float: right;
	width: 99px;
	height: 15px;
	background: url(../../images/store/small/cart_btn.png) no-repeat;
	padding-left: 0px;
	text-align: center;
	color: #FFFFFF;
	font: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#ahr_cart_box_quantity_txt {
	float: left;
	width: 45px;
	height: 19px;
	margin-top: 15px;
	margin-left: 20px;
	BACKGROUND: url(../../images/store/small/input_bg.png) no-repeat left top;
}

.ahr_cart_enter_txt {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 45px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	HEIGHT: 19px;
	COLOR: #000;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	font-weight: bold;
}

#ahr_cart_box_price_txt {
	float: left;
	width: 45px;
	height: 19px;
	margin-left: 40px;
	margin-top: 15px;
	font-weight: bold;
}

#ahr_cart_total_part1 {
	width: 150px;
	margin-left: 608px;
	margin-bottom: 5px;
	font: 12px Arial, Helvetica, sans-serif;
}

#ahr_cart_total_part1 span {
	margin-left: 30px;
	text-align: left;
}

.best_buy_ribbon {
	float: left;
	BACKGROUND: url(images/best_buy_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.on_sale_ribbon {
	BACKGROUND: url(images/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}

.products_details_top_gallery {
	float: left;
	width: 80px;
	height: 180px;
	margin-top: 90px;
	padding-left: 15px;
	margin-left: -50px;
}

.products_details_feature_pic {
	width: 225px;
	height: 250px;
	float: left;
	padding: 10px;
}

.products_details_desc {
	width: 290px;
	height: 250px;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.products_details_desc ul {
	padding-top: 15px;
	padding-left: 15px;
	color: #7E7E7E;
}

.products_details_desc li {
	
}

.products_details_name {
	font: 16px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 10px;
	font-weight: bold;
}

.products_details_name span {
	font: 11px Arial, Helvetica, sans-serif;
	color: #7e7e7e;
}

.products_details_rating {
	margin-top: 100px;
}

.product_details_pricing {
	width: 170px;
	height: 250px;
	float: left;
}

.product_details_pricing_heading {
	font: 16px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	font-weight: bold;
}

.product_details_pricing_heading span {
	font: 12px Arial, Helvetica, sans-serif;
	color: #D1D1D1;
}

.product_details_right_btn_up_txt2 {
	font-size: 11px;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #245B84;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	float: left;
}



#ahr_product_details_bottom {
	width: 815px;
	height: auto;
	margin: auto;
	margin-top: 40px;
}

.ahr_product_details_bottom_left {
	float: left;
	width: 420px;
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ahr_product_details_bottom_left p {
	margin-left: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	padding-top: 5px;
}

.ahr_product_details_bottom_left span {
	margin-left: 10px;
	margin-bottom: 10px;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.ahr_product_details_bottom_left ul {
	margin-left: 20px;
	padding-top: 10px;
}

table {
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.d0 td {
	background-color: #fff;
	color: black;
	padding: 2px;
}

tr.d1 td {
	background-color: #e7e7e7;
	color: black;
	padding: 2px;
}

.ahr_product_details_bottom_right {
	float: right;
	width: 350px;
}

.ahr_product_details_bottom_right p {
	margin-left: 10px;
	margin-bottom: 10px;
}

.ahr_product_details_bottom_right span {
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 10px;
}

/*;
	Category css end*/

/*Ckect-out css start*/
#ahr_check_out_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 500px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_check_out_content_slider_left {
	MARGIN: 2px 0px 0px 34px;
	WIDTH: 550px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	clear: both;
}

#ahr_check_out_content_slider_right {
	padding-top: 2px;
	padding-left: -3px;
	float: right;
	margin: 10px 30px 0px 0px;
	width: 100px;
	height: 27px;
	background: url(../../images/store/small/validation_btn.png) no-repeat;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

#ahr_check_out_content_slider_right_txt {
	padding-top: 2px;
}

#ahr_check_out_content_slider_main {
	width: 855px;
	margin: auto;
	padding: 0px;
}

.ahr_check_out_prod_box_area {
	position: relative;
	float: left;
	margin-left: 15px;
	margin-bottom: 18px;
	width: 153px;
	height: 163px;
	background: url(../../images/store/small/cat_prod_unselected.png) center center no-repeat;
}



.ahr_cat_content_right_slider {
	float: left;
	width: 312px;
	height: 163px;
	margin-left: 20px;
	padding: 0px;
	background: url(../../images/store/small/cat_prod_slider.png) center center no-repeat;
}

.ahr_cat_content_right_slider_header {
	float: left;
	margin-left: 0px;
	padding-top: 5px;
	width: 312px;
	height: 25px;
	text-align: center;
	color: #929292;
	font-weight: bold;
	font-size: 16px;
}

.ahr_cat_content_right_slider_left_director {
	float: left;
	margin-left: 6px;
	padding: 0px;
	width: 10px;
	height: 112px;
	background: url(../../images/store/small/cat_slide_left_director.png) center center
		no-repeat;
}

.ahr_cat_content_right_slider_right_director {
	float: right;
	margin-right: 6px;
	padding: 0px;
	width: 10px;
	height: 112px;
	background: url(../../images/store/small/cat_slide_right_director.png) center center
		no-repeat;
}

.ahr_cat_content_right_slider_cont {
	float: left;
	margin: 0px;
	margin-top: 8px;
	padding: 0px;
	width: 275px;
	height: 126px;
}

.ahr_cat_content_right_slider_cont_box_area {
	position: relative;
	float: left;
	margin: 0px;
	margin-left: 26px;
	padding: 0px;
	width: 100px;
	height: 126px;
}

.ahr_cat_content_right_slider_cont_box_name {
	float:left;
	bottom:0px;
	width:100px;
	height:40px;
	color:#929292;
	font-size:14px;
	text-align:center;
}
.ahr_cat_content_right_slider_cont_box_name2{
	float:right;
	margin:5px 0px 0px 15px;
	bottom:0px;
	width:100px;
	height:40px;
	color:#929292;
	font-size:14px;
	text-align:center;
	
}
#ahr_cat_product_main {
	MARGIN: 15px;
	WIDTH: 872px;
	margin: auto;
}

#ahr_cat_product_bottom {
	WIDTH: 815px;
	margin: auto;
	height: 170px;
	background: url(../../images/store/small/cat_top_ventes.png) center center no-repeat;
}

.ahr_cat_product_bottom_box {
	position: relative;
	float: left;
	margin-top: 5px;
	margin-left: 6px;
	padding: 0px;
	width: 194px;
	height: 158px;
}

.ahr_cat_product_bottom_box_img {
	width: 110px;
	height: 105px;
	margin: auto;
}

.ahr_cat_product_bottom_box_price {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	bottom: 24px;
	width: 198px;
	height: 25px;
	color: #165C99;
}

.ahr_cat_product_bottom_box_name {
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	width: 198px;
	height: 25px;
	vertical-align: middle;
	color: #165C99;
}

#ahr_check_out_details {
	width: 815px;
	height: 150px;
	margin: auto;
	background: #F4F8FB;
}

#ahr_check_out_box_twin {
	width: 790px;
	height: 150px;
	margin: auto;
}

#box_twin_left {
	float: left;
	width: 374px;
	height: 149px;
	background: url(../../images/store/small/validation-bg.png) no-repeat;
}

#box_twin_right {
	margin-left: 15px;
	float: right;
	width: 374px;
	height: 149px;
	background: url(../../images/store/small/validation-bg.png) no-repeat;
}

#box_twin_left {
	float: left;
	width: 374px;
	height: 149px;
	background: url(../../images/store/small/validation-bg.png) no-repeat;
}

#ahr_check_out_details_top {
	BACKGROUND: url(../../images/store/small/cart_bg_top.png) no-repeat;
	width: 815px;
	height: 12px;
}

#ahr_check_out_box_user_txt {
	float: left;
	width: 186px;
	height: 27px;
	margin-top: 35px;
	margin-left: 20px;
	BACKGROUND: url(../../images/store/small/check-out-input-bg.png) no-repeat left top;
	color: #0361BA;
}

#ahr_check_out_box_pass_txt {
	float: left;
	width: 186px;
	height: 27px;
	margin-top: 10px;
	margin-left: 20px;
	BACKGROUND: url(../../images/store/small/check-out-input-bg.png) no-repeat left top;
	color: #0361BA;
}

#ahr_check_out_box_txt {
	float: left;
	width: 186px;
	height: 15px;
	margin-top: 10px;
	margin-left: 20px;
	font: 10px Arial, Helvetica, sans-serif;
	color: #333333;
}

#ahr_check_out_box_btn {
	float: left;
	width: 134px;
	height: 28px;
	margin-top: -10px;
	margin-left: 10px;
	BACKGROUND: url(../../images/store/small/check-out-btn.png) no-repeat left top;
	color: #FFFFFF;
	font-weight: bold;
}

#ahr_check_out_box_btn_txt {
	padding-top: 3px;
	margin-left: 12px;
}

.ahr_check_out_enter_txt {
	BORDER-BOTTOM: medium none;
	POSITION: absolute;
	BORDER-LEFT: medium none;
	WIDTH: 186px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	HEIGHT: 27px;
	COLOR: #0361BA;
	BORDER-TOP: medium none;
	BORDER-RIGHT: medium none;
	padding-left: 5px;
}

#ahr_cart_box_price_txt {
	float: left;
	width: 45px;
	height: 19px;
	margin-left: 40px;
	margin-top: 15px;
	font-weight: bold;
}

#ahr_cart_total_part1 {
	width: 150px;
	margin-left: 608px;
	margin-bottom: 5px;
	font: 12px Arial, Helvetica, sans-serif;
}

#ahr_cart_total_part1 span {
	margin-left: 30px;
	text-align: left;
}

.best_buy_ribbon {
	float: left;
	BACKGROUND: url(../../images/store/small/best_buy_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.on_sale_ribbon {
	BACKGROUND: url(../../images/store/small/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}

.products_details_top_gallery {
	float: left;
	width: 80px;
	height: 180px;
	margin-top: 90px;
	padding-left: 15px;
	margin-left: -50px;
}

.products_details_feature_pic {
	width: 225px;
	height: 250px;
	float: left;
	padding: 10px;
}

.products_details_desc {
	width: 290px;
	height: 250px;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.products_details_desc ul {
	padding-top: 15px;
	padding-left: 15px;
	color: #7E7E7E;
}

.products_details_desc li {
	
}

.products_details_name {
	font: 16px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 10px;
	font-weight: bold;
}

.products_details_name span {
	font: 11px Arial, Helvetica, sans-serif;
	color: #7e7e7e;
}

.products_details_rating {
	margin-top: 100px;
}

.product_details_pricing {
	width: 170px;
	height: 250px;
	float: left;
}

.product_details_pricing_heading {
	font: 16px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	font-weight: bold;
}

.product_details_pricing_heading span {
	font: 12px Arial, Helvetica, sans-serif;
	color: #D1D1D1;
}

.product_details_right_btn_up_txt2 {
	font-size: 11px;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #245B84;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	float: left;
}

#ahr_product_details_bottom {
	width: 815px;
	height: auto;
	margin: auto;
	margin-top: 40px;
}

.ahr_product_details_bottom_left {
	float: left;
	width: 420px;
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ahr_product_details_bottom_left p {
	margin-left: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	padding-top: 5px;
}

.ahr_product_details_bottom_left span {
	margin-left: 10px;
	margin-bottom: 10px;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.ahr_product_details_bottom_left ul {
	margin-left: 20px;
	padding-top: 10px;
}

table {
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.d0 td {
	background-color: #fff;
	color: black;
	padding: 2px;
}

tr.d1 td {
	background-color: #e7e7e7;
	color: black;
	padding: 2px;
}

.ahr_product_details_bottom_right {
	float: right;
	width: 350px;
}

.ahr_product_details_bottom_right p {
	margin-left: 10px;
	margin-bottom: 10px;
}

.ahr_product_details_bottom_right span {
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 10px;
}

/*Customize Details css start*/
#ahr_customize_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 900px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_customize_content_slider_left {
	MARGIN: 2px 0px 0px 34px;
	WIDTH: 540px;
	FLOAT: left;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	clear: both;
}

#ahr_customize_details_top {
	width: 815px;
	height: 140px;
	margin: auto;
	background: url(../../images/store/small/customize_bg.png) no-repeat;
}

.best_buy_ribbon {
	float: left;
	BACKGROUND: url(images/best_buy_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.on_sale_ribbon {
	BACKGROUND: url(images/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}

.customize_details_feature_pic {
	width: 109px;
	height: 105px;
	float: left;
	padding: 10px;
}

.customize_details_desc {
	width: 300px;
	height: 135px;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 18px;
}

.customize_details_desc ul {
	padding-top: 15px;
	padding-left: 15px;
	color: #7E7E7E;
}

.products_details_desc li {
	
}

.products_details_name {
	font: 16px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 10px;
	font-weight: bold;
}

.products_details_name span {
	font: 11px Arial, Helvetica, sans-serif;
	color: #7e7e7e;
}

.products_details_rating {
	margin-top: 100px;
}

.customize_shipping {
	width: 160px;
	float: left;
	height: 100px;
	padding-top: 20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #145C85;
	font-weight: bold;
	text-align: center;
}

.product_details_pricing {
	width: 170px;
	height: 135px;
	float: left;
}

.product_details_pricing_heading {
	font: 16px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF;
	padding-top: 10px;
	font-weight: bold;
}

.product_details_pricing_heading span {
	font: 12px Arial, Helvetica, sans-serif;
	color: #D1D1D1;
}

.product_details_right_btn_up_txt2 {
	font-size: 11px;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #245B84;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	float: left;
}

.customize_details_right_btn2 {
	width: 136px;
	height: 32px;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	margin-top: 38px;
	margin-left: 20px;
	background: url(../../images/store/small/product_details_btn.png) no-repeat;
	float: left;
	text-align: center;
}

#ahr_customize_details_box {
	width: 815px;
	float: left;
	height: auto;
	margin: auto;
	margin-top: 20px;
	margin-left: 27px;
}

.ahr_customize_details_bottom_left {
	float: left;
	width: 180px;
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ahr_customize_details_bottom_left p {
	margin-left: 10px;
	margin-bottom: 10px;
	line-height: 18px;
	padding-top: 5px;
}

.ahr_customize_details_bottom_left span {
	margin-left: 10px;
	margin-bottom: 10px;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.ahr_customize_details_bottom_left ul {
	margin-left: 20px;
	padding-top: 10px;
}

table {
	font: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

tr.d0 td {
	background-color: #fff;
	color: black;
	padding: 2px;
}

tr.d1 td {
	background-color: #e7e7e7;
	color: black;
	padding: 2px;
}

.ahr_customize_details_bottom_right {
	float: right;
	width: 620px;
	height: auto;
}

.customize_details_box_top {
	width: 618px;
	height: 32px;
	background: url(../../images/store/small/customize_box_top.png) no-repeat;
}

.customize_details_box_top p {
	font-weight: bold;
	padding-left: 5px;
	padding-top: 5px;
}

.customize_details_box_top-div {
	padding-left: 5px;
	padding-top: 5px;
}

.customize_details_box_middle {
	width: 618px;
	height: auto;
	background: url(../../images/store/small/customize_box_middle.png) repeat-y;
}

.customize_details_box_middle_div {
	font: 12px Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-left: 20px;
	line-height: 22px;
}

.customize_details_box_bottom {
	width: 618px;
	height: 16px;
	background: url(../../images/store/small/customize_box_bottom.png) no-repeat;
}

.ahr_customize_details_bottom_right p {
	margin-left: 10px;
	margin-bottom: 10px;
}

.ahr_customize_details_bottom_right span {
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 10px;
}
/*Customize css end*/

/*Grid css start*/
#ahr_grid_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 880px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content-middle.png) repeat-y;
}

#ahr_grid_content_top {
	MARGIN: 0px;
	WIDTH: 880px;
	BACKGROUND: url(../../images/store/small/content_top.png) no-repeat;
	HEIGHT: 7px;
	clear: both;
}

#ahr_grid_warp {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 880px;
	clear: both;
	min-height: 780px;
	height: auto;
}

#ahr_grid_left_part {
	float: left;
	margin: 10px 0px 0px 14px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	min-height: 300px;
	height: auto;
	position: relative;
	background: #F5F5F6;
}

#ahr_grid_left_top_bg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 11px;
	background: url(images/gride_3_1_box__left_bottom.png) center center
		no-repeat;
}

#ahr_grid_left_bottom_bg {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 11px;
	background: url(images/gride_3_1_box_left_top.png) center center
		no-repeat;
}

.ahr_grid_left_menu {
	width: 172px;
	margin: 0px 4px 0px 14px;
	padding: 0px 2px 0px 3px;
	clear: both;
}

.ahr_grid_left_menu_parent {
	font-weight: bold;
	font-size: 13px;
	margin: 2px 0px 2px 0px;
	padding: 0px 2px 0px 4px;
	width: 120px;
}

.ahr_grid_left_menu_child {
	font-size: 12px;
	margin: 0px;
	padding: 0px 2px 0px 4px;
	margin: 2px 0px 5px 0px;
	width: 170px;
}

.ahr_grid_left_menu_child a {
	color: #000;
	text-decoration: none;
}

.ahr_grid_left_menu_child_selected {
	background: #EB760F;
	padding: 1px 0px 1px 4px;
	width: 170px;
}

.ahr_grid_left_menu_child_selected a {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}

#ahr_grid_right_part {
	float: right;
	margin: 10px 14px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-height: 300px;
	height: auto;
	width: 610px;
}

#ahr_grid_right_header {
	MARGIN: 0px 0px 0px 0px;
	WIDTH: 100%;
	FLOAT: right;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	text-align: left;
	FONT-WEIGHT: bold;
	clear: both;
}

.ahr_grid_right_box_bestbuy {
	width: 200px;
	height: 338px;
	float: left;
	margin: 0px 0px 20px 3px;
	position: relative;
	background: url(../../images/grid-3-1-box_bg2.png) no-repeat;
}

.ahr_grid_right_box_bestbuy ul {
	width: 160px;
	height: 30px;
	position: absolute;
	bottom: 158px;
	left: 28px;
	color: #999;
	font-size: 12px;
}

.ahr_grid_right_box_bestbuy li {
	width: 155px;
}

.ahr_grid_right_box {
	width: 200px;
	min-height: 338px;
	float: left;
	margin: 0px 0px 20px 3px;
	position: relative;
	background: url(../../images/store/small/grid-3-1-box_bg.png) no-repeat;
}
.ahr_grid_right_box img{
	width: 90px;
	height: 90px;
	float: left;
	margin: 10px 0px 0px 50px;
	text-align:center;
	position: relative;
	overflow:hidden;

}
.ahr_grid_right_box ul {
	width: 180px;
	height: 30px;
	position: absolute;
	bottom: 158px;
	left: 28px;
	color: #999;
	font-size: 12px;
}

.ahr_grid_right_box li {
	width: 155px;
}

.ahr_gride_right_box_prod {
	position: absolute;
	top: 30px;
	left: 38px;
}

.ahr_grid_right_prod_name {
	margin: 5px;
	padding: 0px 2px 0px 2px;
	width: 175px;
	height: 40px;
	position: absolute;
	bottom: 192px;
	left: 7px;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
}

.ahr_grid_right_rating {
	width: 188px;
	height: 30px;
	position: absolute;
	bottom: 114px;
	left: 7px;
}

.ahr_grid_right_rating img {
	margin: 0px 5px 0px 5px;
}

.ahr_grid_right_rating span {
	color: #999;
	vertical-align: top;
	text-align: left;
	text-indent: 5px;
}

.ahr_grid_right_price_div {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background: #7E7E7E;
	width: 188px;
	height: 30px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	bottom: 84px;
	left: 7px;
	margin: auto;
}

.ahr_grid_right_btn_up_txt {
	font-size: 12px;
	width: 196px;
	height: 30px;
	margin: auto;
	text-align: center;
	color: #245B84;
	position: absolute;
	bottom: 48px;
	margin: auto;
}

.ahr_grid_right_btn {
	width: 102px;
	height: 25px;
	margin: auto;
	position: absolute;
	bottom: 15px;
	left: 48px;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 3px 0px 0px 0px;
	background: url(../../images/store/small/gride_3_1_box_btn.png) no-repeat;
}

.ahr_grid_right_bottom {
	width: 200px;
	position: absolute;
	bottom: 0px;
	left: -1px;
	height: 14px;
	background: url(images/grid-box-bottom.png) no-repeat;
}
/*Grid css end*/

/*Category list css start*/
#ahr_list_content_wrap {
	MARGIN: auto;
	HEIGHT: auto;
	MIN-HEIGHT: 650px;
	WIDTH: 880px;
	BACKGROUND: url(images/content-middle.png) repeat-y;
}

#ahr_list_content_top {
	MARGIN-top: auto;
	WIDTH: 880px;
	BACKGROUND: url(images/content_top.png) no-repeat;
	HEIGHT: 7px;
}

#ahr_list_warp {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 880px;
	clear: both;
	min-height: 300px;
	height: auto;
}

#ahr_list_left_part {
	float: left;
	margin: 10px 0px 0px 14px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	min-height: 300px;
	height: auto;
	position: relative;
	background: #F5F5F6;
}

#ahr_list_left_top_bg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 11px;
	background: url(images/liste_3_1_box__left_bottom.png) center center
		no-repeat;
}

#ahr_list_left_bottom_bg {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 200px;
	height: 11px;
	background: url(images/liste_3_1_box_left_top.png) center center
		no-repeat;
}

.ahr_list_left_menu {
	width: 172px;
	margin: 0px 4px 0px 14px;
	padding: 0px 2px 0px 3px;
	clear: both;
}

.ahr_list_left_menu_parent {
	font-weight: bold;
	font-size: 13px;
	margin: 2px 0px 2px 0px;
	padding: 0px 2px 0px 4px;
	width: 120px;
}

.ahr_list_left_menu_child {
	font-size: 12px;
	margin: 0px;
	padding: 0px 2px 0px 4px;
	margin: 2px 0px 2px 0px;
	width: 170px;
}

.ahr_list_left_menu_child a {
	color: #000;
	text-decoration: none;
}

.ahr_list_left_menu_child_selected {
	background: #EB760F;
	padding: 1px 0px 1px 4px;
	width: 170px;
}

.ahr_list_left_menu_child_selected a {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}

#ahr_list_right_part {
	float: right;
	margin: 10px 14px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-height: 300px;
	height: auto;
	width: 610px;
}

#ahr_list_right_header {
	MARGIN: 0px 0px 0px 0px;
	WIDTH: 100%;
	FLOAT: right;
	COLOR: #ccdee8;
	FONT-SIZE: 30px;
	text-align: left;
	FONT-WEIGHT: bold;
	clear: both;
}

.ahr_list_right_box_bestbuy {
	width: 200px;
	height: 338px;
	float: left;
	margin: 0px 0px 20px 3px;
	position: relative;
	background: url(images/list-3-1-box_bg2.png) no-repeat;
}

.ahr_list_right_box_bestbuy ul {
	width: 160px;
	height: 30px;
	position: absolute;
	bottom: 158px;
	left: 28px;
	color: #999;
	font-size: 12px;
}

.ahr_list_right_box_bestbuy li {
	width: 155px;
}

.ahr_list_right_box {
	width: 593px;
	height: 147px;
	float: left;
	margin: 0px 0px 20px 3px;
	position: relative;
	background: url(../../images/store/small/list_product_bg.jpg) no-repeat;
}

.ahr_list_right_box_prod {
	width: 110px;
	height: 147px;
	margin-top: 30px;
	margin-left: -25px;
	float: left;
}

.best_buy_ribbon {
	float: left;
	BACKGROUND: url(images/best_buy_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.on_sale_ribbon {
	float: left;
	BACKGROUND: url(images/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
}

.no_ribbon {
	float: left;
	BACKGROUND: url(../../images/store/small/on_sale_ribbon.png) no-repeat;
	width: 53px;
	height: 56px;
	margin-left: 1px;
	visibility: hidden;
}

.ahr_list_right_box_desc_info {
	width: 197px;
	height: 147px;
	float: left;
	margin-left: 0px;
}

.ahr_list_right_prod_name {
	margin-top: 15px;
	width: 185px;
	height: 10px;
	left: 140px;
	font-size: 13px;
	font-weight: bold;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

.ahr_list_right_box_desc_info ul {
	padding: 25px 2px 25px 15px;
	width: 170px;
	height: 35px;
	float: left;
	line-height: 18px;
}

.ahr_list_right_box_desc_info li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A0A0A0;
}

.ahr_list_right_rating {
	width: 180px;
	height: 20px;
	float: left;
	font-size: 10px;
	padding: 0px 0px 0px 0px;
}

.ahr_list_right_rating img {
	margin: 3px 5px 0px 0px;
	float: left;
}

.ahr_list_right_rating_txt {
	float: left;
	padding-top: 6px;
	width: auto;
	color: #000;
}

.ahr_list_right_rating span {
	color: #999;
	vertical-align: top;
	margin-top: 3px;
	text-align: left;
	text-indent: 5px;
	font-size: 11px;
}

.ahr_list_right_others_div {
	width: 110px;
	height: 147px;
	float: left;
	font-size: 11px;
	color: #7E7E7E;
	font-weight: bold;
}

.ahr_list_right_others_div span {
	color: #000;
	font-weight: bold;
	padding-left: 5px;
}

.ahr_list_right_others_div_weight {
	background-color: #F2F2F5;
	height: 34px;
	margin-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.ahr_list_right_others_div_headline {
	padding-left: 5px;
	padding-top: 3px;
}

.ahr_list_right_others_div_unit {
	background-color: #F2F2F5;
	height: 35px;
	margin-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
}

.ahr_list_right_others_div_cpacity {
	background-color: #F2F2F5;
	height: 35px;
	margin-top: 1px;
}

.ahr_list_right_others_div_top_speed {
	background-color: #F2F2F5;
	height: 35px;
	margin-top: 1px;
}

.ahr_list_right_others_div_turn_radius {
	background-color: #F2F2F5;
	height: 34px;
	margin-top: 1px;
}

.ahr_list_right_price_div2 {
	width: 143px;
	height: 147px;
	float: left;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: bold;
}

.ahr_list_right_btn_up_txt2 {
	font-size: 11px;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #245B84;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.ahr_list_right_btn2 {
	width: 102px;
	height: 25px;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	margin-top: 38px;
	margin-left: 23px;
	cursor: pointer;
	background: url(../../images/store/small/gride_3_1_box_btn.png) no-repeat;
	float: left;
}

.ahr_list_right_bottom {
	width: 200px;
	height: 14px;
	background: url(images/gride_3_1_box_btn.png) no-repeat;
}
/*Category list css end*/